//-----------------------------------------colors

$yellow: #F4E041;
$hoverButton: #FFE302;
$blue: #00BDD3;
$gray: #7E7E7E;
$lightGray: #F8F8F8;
$white: #fff;
$green :rgb(0, 128, 0);
$hoverGreen: rgb(23, 156, 23);
$errorColor: #CB3D40;
$darkFray: rgb(88, 82, 82);


//----------------------------------------mediaScreen

$md1: 1024px;
$md2:768px;
$md3:420px;