.tooltip{
    position: relative;
    cursor: pointer;

    &:hover {
        .content{
           opacity: 1;
           visibility: visible;
        }
    }
}
.content {
    position: absolute;
    min-width: 200px;
    top: 45px;
    left: 50px;
    padding:5px 10px;
    background-color: black ;
    opacity: 0;
    visibility: hidden;
    color: white;
    z-index: 10;
}
.showContent {
    opacity: 1;
    visibility: visible;
}